[MASTER]

ignore=tests, migrations
fail-under=8
[BASIC]

function-naming-style=snake_case
attr-naming-style=snake_case
module-naming-style=snake_case
variable-naming-style=snake_case
class-naming-style=PascalCase
const-naming-style=UPPER_CASE

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]

max-line-length=100
max-module-lines=1000

[REFACTORING]

max-nested-blocks=2

[DESIGN]
